body {
  background-color: rgb(224, 240, 255);
  font-family: "Oswald", sans-serif;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 10px 30px 30px 30px;
  box-shadow: 0 30px 50px rgba(147, 147, 147, 0.092);
  border-radius: 10px;
}
header {
  border-bottom: 1px solid rgba(224, 240, 255, 0.372);
  padding: 30px 0;
}
footer {
  border-top: 1px solid rgba(224, 240, 255, 0.372);
  padding-top: 30px;
  text-align: center;
  color: rgb(58, 58, 58);
  font-weight: 200;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
a {
  color: rgb(46, 83, 118);
}
a:hover {
  color: rgb(78, 166, 248);
}

ul {
  list-style: none;
}
ul li {
  margin-bottom: 30px;
}
main {
  padding: 30px 0;
  text-align: center;
  margin-left: 30px;
}
section {
  padding: 0 30px;
  margin-right: 40px;
}
strong {
  color: rgb(46, 83, 118);
}

.weather-app-city {
  font-size: 58px;
  line-height: 78px;
  margin: 0;
  letter-spacing: -2px;
}
.city-current-date {
  color: rgba(39, 33, 66, 0.4);
  margin: 0;
}
.today-tempereature-container {
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
}
.today-temperature-icon {
  height: 90px;
  width: 90px;
  margin-top: 5px;
}
.today-temperature-value {
  font-size: 60px;
  font-weight: 500;
}

.today-temperature-unit {
  font-size: 28px;
  margin-top: 10px;
}
.today-weather-description {
  color: rgba(39, 33, 66, 0.4);
}
.forecast-following-days {
  font-size: 24px;
}
.forecast-emoji {
  font-size: 24px;
}

.forecast-info {
  font-size: 14px;
  color: rgba(39, 33, 66, 0.4);
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.search-form-input {
  font-size: 16px;
  padding: 20px;
  border: none;
  border-radius: 6px;
  background-color: rgba(224, 240, 255, 0.372);
  width: 80%;
}
.search-form-button {
  font-size: 16px;
  padding: 20px;
  border: none;
  border-radius: 6px;
  background-color: rgb(78, 166, 248);
  color: white;
  margin-left: 5px;
}
